.container-bookmarks {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-bk {
  display: flex;
  align-items: center;
  justify-content: space-between;
    
  background: rgba(0, 0, 0, 0.91);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
}

.title-wrap {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: unset;
}

.username {
  font-size: 20px;
  font-weight: bold;
}
.tag {
  font-size: 13px;
  color: #71767b;
}

.ico-wrap {
  width: 35px;
  height: 35px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: unset;
}
.ico-wrap:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
