header {
  height: 50px;
  border-bottom: 1px solid #2f3336;
  margin-inline: -12px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;

  background: rgba(0, 0, 0, 0.79);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.header-opt{
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: none;
}

.header-opt:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.config{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.ico-cfg-wrap{
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.ico-cfg-wrap:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.label-wrap{
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: unset;
}