.container-profile {
  display: flex;
  flex-direction: column;
  margin-inline: -12px;
}

.profile-header {
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  padding-inline: 16px;
  gap: 15px;
  position: sticky;
  top: 0;
  z-index: 2;

  background: rgba(0, 0, 0, 0.79);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.ico-wrap {
  width: 35px;
  height: 35px;
  border-radius: 18px;
  background-color: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.ico-wrap:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.labels-wrap {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: unset;
}

.span-name {
  font-size: 20px;
  font-weight: bold;
}

.span-tag {
  color: #71767b;
  font-size: 15px;
}

.banner-user {
  height: 200px;
  width: 100%;
  /* background-color: aqua; */
  background-size: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  padding: 12px 16px 0 16px;
  border-bottom: 1px solid #2f3336;
}

.avatar-row {
  display: flex;
  justify-content: space-between;
  height: 65px;
}
.btn-edit-profile {
  height: 36px;
  background-color: unset;
  color: white;
  border: 1px solid #2f3336;
  padding-inline: 16px;
  border-radius: 20px;
}
.btn-edit-profile:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.date-section {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.follow-section {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.opts {
  margin-top: 10px;
  display: flex;
  height: 53px;
  width: calc(100% + 32px);
  margin-left: -16px;
  margin-right: -16px;
}

.opt {
  width: calc(100% / 5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: none;
}
.opt:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.label-wrap {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: unset;
}
.posts-wrap{
  display: flex;
  flex-direction: column;
  padding-inline: 12px;
}