html {
  background-color: #000000;
}
div {
  background-color: #000000;
  color: #e7e9ea;
}

.border-nav-left{
  border-right: 1px solid #2f3336;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 2;
}
.border-nav-right{
  border-left: 1px solid #2f3336;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 2;
}