html {
  background-color: #000000;
}
div {
  background-color: #000000;
  color: #e7e9ea;
}

.border-nav-right{
  border-right: 1px solid #2f3336;
  height: 100vh;
}
.border-nav-left{
  border-left: 1px solid #2f3336;
  height: 100vh;
}